@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(28,28,28);
    --secondary-color : #F74141; 
    /* --secondary-color:#168FFF;  blue*/
   
    --w: white;
    --b: black;
    --r: #FF0000;
    --bl: #0000FF;
    --y:#badb67; 
    --g:#312D2D;
    --true:grayscale(100%); 
    --none: none;
}

.dark-theme{
    /* --primary-color: white; */
    --primary-color: silver;
    /* --secondary-color: #E92C2C; */
    --secondary-color:#0085FF;
    --w: black;
    --b: white;
    --r: #FF0000;
    --bl: #0000FF;
    --y:#badb67; 
    /* --g: silver; */
    --g:white;
    --true:none; 
    --none: grayscale(100%);

}

.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 361px 384px 800px 182px 30px;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Sigmar One', cursive;
    font-size: 1.5vw;
}

.name:hover{
    text-shadow: 1px 1px 1px var(--w);
}

.header{
    grid-column: 3/-1;
    background-color: var(--primary-color);
    grid-row: 1/2;
}

.nav-buttons {
    list-style: None;
    display: flex;
    margin-top: 20px;
    color: var(--w);
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding-top: 10px;
    margin-left: 25px;
    font-size: 1.3vw;
    position: relative;
}

.nax-text {
    margin: 0px 40px;
    display: flex;
    margin: auto;
    text-shadow: 2px 2px 5px var(--secondary-color);

}

#site-map-text{
    font-family: 'Teko', sans-serif;
    font-size: 2vw;
    
}

#site-links{
    display: flex;
    flex-direction: column;
    list-style: none;

    padding: 0%; 
}

.sl{
    color: inherit;
    text-decoration: none;
    
}

.sl:hover{
    color: var(--secondary-color);
}


#site-content{
    list-style: none;
    color: var(--w);
}




.nav-link:hover {
    text-shadow: 2px 2px 2px var(--y);
    color: var(--b);


}


#nav-dark:hover {
    text-shadow: 2px 2px 2px var(--y);
    color: black;

}

.nav-link {
    color: inherit;
    text-decoration: none;


}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--w);
    text-decoration: none;
  }


#home-text{
    color: var(--secondary-color);

}

.about-text{
    color: var(--w);
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    padding: 0%;
    margin-top: 220px;
    
}

.headi{
    animation: slideright 1s linear forwards;
}

@keyframes slideright {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate((0px));
        opacity: 1;
    }
    
}

  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.background-photo{
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0px;
    padding: 0px;
}

.bg-photo{
    position: relative;
}

.headi{
    position: absolute;
    top: 40%;
    left: 30%;
    color: var(--w);
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    font-weight: 400;
}

.headi:hover{
    color: var(--secondary-color);
    transition: color 1s;
}

.bg{

    max-width:100%;
    height: auto;
    padding: 0px;
}

.my-photo{
    grid-column: 1/6;
    background-color: var(--primary-color);
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-photo img{
    width:400px;
    max-width: 100%;
    height: auto;
    padding: 0%;
}

.description{
    grid-column:6/-1;
    grid-row: 3/4;
    background-color: var(--primary-color);
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    
    
}

.description p{
    color: var(--w);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5vw;
    width: 600px;
    max-width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    margin-top: 130px;

}




.footer {
    background-color: var(--g);
    grid-column: 1/-1;
    grid-row: 4/5;
    display: flex;
    justify-content: space-around;
}

.footer-content{
    display: flex;
    flex-direction: column;
    
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.form-box{
    margin: 2px 0px;
}

.footer-desc{
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

.footer-logo{
    margin-top: 20px;
}

.cont{
    list-style: none;
    margin: 5px 0px;
    color: var(--w);
}

#contact-submit{
    width: 100px;
    height: 30px;
    background-color: var(--secondary-color);
    color: var(--w);
    border-radius: 30px;
}

#contact-submit:hover{
    background-color: var(--w);
    color:var(--secondary-color)

}

.logo-content{
    list-style: none;
    color: var(--w);

}

#cont-message{
    font-family: 'Teko', sans-serif;
    font-size: 2vw;
}

.copyright {
    background-color: var(--primary-color);
    color: var(--w);
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5/6;;
         
}

.copyright-text{
    font-family: 'Wire One', sans-serif;
    font-weight: bold;
}


.reveal{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }





